<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Flas_mongodb_Admin介面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>

    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

</head>
<body>

<!--
    <script>
        document.write('<script src=' +
        ('__proto__' in {} ? 'static/js/vendor/zepto' : 'static/js/vendor/jquery') +
        '.js><\/script>')
    </script>
    -->
    <script src="{{ url_for('static', filename='js/vendor/zepto.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/my_custom.js') }}"></script>

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.alerts.js') }}"></script>
-->

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.clearing.js') }}"></script>
-->

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.cookie.js') }}"></script>
-->

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.dropdown.js') }}"></script>
-->

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.forms.js') }}"></script>
-->

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.joyride.js') }}"></script>
-->

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.magellan.js') }}"></script>
-->

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.orbit.js') }}"></script>
-->

    <script src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.section.js') }}"></script>
-->

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.tooltips.js') }}"></script>
-->

    <script src="{{ url_for('static', filename='js/foundation/foundation.topbar.js') }}"></script>

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.interchange.js') }}"></script>
-->

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.placeholder.js') }}"></script>
-->

<!--
    <script src="{{ url_for('static', filename='js/foundation/foundation.abide.js') }}"></script>
-->



    {% block body %}{% endblock %}

    <script>
        $(document).foundation();
    </script>
</body>
</html>
