{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div  class="small-8 small-centered columns">
        <img src="{{ url_for('static', filename='img/Flask.jpg') }}" style='display:inline;'>
        <img src="{{ url_for('static', filename='img/mongodb.jpg') }}" style='display:inline;'>
    </div>
</div>
<div class="row">
    <div  class="small-6 small-centered columns">
        
        <h1>Flask Login</h1>
        <form method="POST" action=".">
            <fieldset>
                <legend>您好</legend>
                {{ form.hidden_tag() }}
           
                <div class="row">
                    <div class="small-2 columns">
                        {{ form.account.label(class="right inline") }} 
                    </div>
                    <div class="small-10 columns">
                        {{ form.account(size=25)}}
                        {% for error in form.errors.account %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    
                </div>
                <div class="row">
                    <div class="small-2 columns">
                        {{ form.pwd.label(class="right inline") }}  
                    </div>
                    <div class="small-10 columns">
                        {{ form.pwd(size=25)}} 
                        {% for error in form.errors.pwd %}
                            <span style="color:red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    
                </div>
            </fieldset>
            
            
            <div class="row">
                <div class="small-4 columns">
                    <input id="submit" name="submit" type="submit" 
                            value="登入" class="button "></input>
                </div>
                <div class="alert small-8 columns">

                </div>
            </div>
        </form>
    
    </div>
</div>
       

{% endblock%}
